<form (ngSubmit)="onSubmit()" #moduleForm="ngForm">

  <div class="form-group">

    <label for="label">Label</label><br>
    <input type="text" class="form-control label" id="label"
           required
           [(ngModel)]="model.label" name="label" />

  </div>
  <div class="form-group">

    <label for="command">Command</label><br>
    <input class="form-control command" id="command"
              [(ngModel)]="model.command" name="command" />

  </div>
  <button md-button class="button-type-2" type="submit" [disabled]="!moduleForm.form.valid">Create</button>
  <button md-button class="button-type-2" type="button" (click)="moduleForm.reset()">Reset</button>
  <button md-button class="button-type-2" type="button" (click)="dialogRef.close(false)">Cancel</button>

</form>
