<div class="container">

  <md-toolbar>

    <div class="header" i18n>Front ops</div>
    <div class="header">

      <span *ngFor="let display of urlNav" >

        /<span class="link" (click)="onClickUrl(display.url)">{{display.display}}</span>

      </span>

    </div>
    <div class="header" *ngIf="!errorMessageTranslationProvidersError">

      <button md-raised-button [disabled]="isLocaleLanguage('en')" (click)="changeLanguage('en')" i18n>English</button>
      <button md-raised-button [disabled]="isLocaleLanguage('fr')" (click)="changeLanguage('fr')" i18n>French</button>

    </div>
    <div class="header error" *ngIf="errorMessageTranslationProvidersError">{{errorMessageTranslationProvidersError}}</div>

  </md-toolbar>

</div>
