@import "../../styles/_host";

:host {
  color: $host-color;
  position: $host-position;
  display: $host-display;
  top: 0;
  bottom: auto;
  right: 0;
  left: 200px;
  height: 65px;
}

.element:nth-child(2) {
  margin-left: auto;
}
