@import '../../styles/_constant';

:host {
  height: 100%;
  width: 100%;
}

.add-scenario-list {

  align-content: center;
  width: $add-scenario-module-list-width;

}

button {

  line-height: $button-line-height;
  padding: $button-padding;
  white-space: $button-white-space;

}

.current-action-list {

  width: $add-scenario-current-actions-list-width;

}

.description {

  height: $input-args-height;
  resize: none;
  width: $input-label-width;

}

.forms-add-scenario {

  width: $add-scenario-form-width;

}

.label {

  width: $input-label-width;

}

.ng-invalid:not(form)  {

  border-right: $border-form-error;

}

.ng-valid[required], .ng-valid.required  {

  border-right: $border-form-conform;

}

#sigma-new-graph {

  display: flex;
  flex: 1;
  height: 100%;
  position: $graph-position;

}
