@import '../../styles/_constant';

:host {
  height: 100%;
  width: 100%;
}

.add-scenario-list {

  overflow-x: $div-overflow-x;
  overflow-y: $div-overflow-y;
  padding-top: $list-padding-top;
  width: $add-scenario-module-list-width;

}

.button-position {

  width: 100%;

}

.current-action-list {

  flex: 1;

}

.description {

  height: $input-args-height;
  resize: none;
  width: $input-label-width;

}

.element-action {

  border-bottom: $border-little-primary;
  display: flex;
  flex-direction: column;
  margin: $element-list-margin;

}

.element-add-scenario-list {

  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $element-list-padding;

}

.forms-add-scenario {

  width: $add-scenario-form-width;

}

.label {

  width: $input-label-width;

}

.list-actions {

  padding-top: $list-padding-top;
  width: 100%;

}

.ng-invalid:not(form)  {

  border-right: $border-form-error;

}

.ng-valid[required], .ng-valid.required  {

  border-right: $border-form-conform;

}

#sigma-new-graph {

  display: flex;
  flex: 1;
  height: 100%;
  position: $graph-position;

}
