<div class="container" *ngIf="!errorMessageGetAllModules">

  <div class="actions-list-list">

    <div class="warning" *ngIf="errorMessageModuleNotFound">{{errorMessageModuleNotFound}}</div>
    <div class="warning" *ngIf="warningMessageNoContentModule">{{warningMessageNoContentModule}}</div>
    <md-list *ngIf="!warningMessageNoContentModule">

      <md-list-item *ngFor="let module of listModules">

        <button md-raised-button (click)="changeVisibility(module)">{{ module.label }}</button>
        <md-list [hidden]="!module.visibility">



            <md-list-item *ngFor="let action of module.actions">

              <button md-button (click)="displayAction(module, action)">

                {{ action.label }}

              </button>

            </md-list-item>

        </md-list>

      </md-list-item>

    </md-list>

  </div>
  <div class="container-router">

    <router-outlet></router-outlet>

  </div>

</div>
<div class="container-router" *ngIf="errorMessageGetAllModules"><div class="error">{{errorMessageGetAllModules}}</div></div>
