@import '../../styles/_constant';

app-actions-list {

  height: 100%;
  width: 100%;

}

.actions-list-component {

  flex-direction: column;

}

.actions-list-component-header {

  padding: $header-component-padding;
  text-align: $text-align-center;
  width: 100%;

}

.button-icon {

  min-width: 0;

}

.container-action {

  padding: $element-list-padding;

}

.container-module-buttons {

  padding: $element-list-padding;

}

.list-actions {

  display: flex;
  flex-direction: column;
  padding-top: $list-padding-top;

}

.list-actions-element {

  padding: $element-list-padding;

}

.list-module {

  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: $div-overflow-x;
  overflow-y: $div-overflow-y;
  padding-top: $list-padding-top;
  text-align: $text-align-center;
  width: 100%;

}
