@import '../../styles/_constant';

app-actions-list {

  height: 100%;
  width: 100%;

}

.actions-list-component {

  flex-direction: column;

}

.actions-list-component-header {

  padding: $header-component-padding;
  text-align: $text-align-center;
  width: 100%;

}

.button-icon {

  min-width: 0;

}

.center-button {

  display: flex;
  flex: 1;
  justify-content: flex-start;

}

.container-action-buttons {

  display: flex;
  padding: $element-list-padding;
  width: 70%;

}

.container-module-buttons {

  border-bottom: $border-medium-primary;
  display: flex;
  padding: $element-list-padding;
  width: 70%;

}

.element-action {

  align-items: center;
  border-bottom: $border-little-primary;
  display: flex;
  flex-direction: column;
  margin: $element-list-margin;
  width: 100%;

}

.element-module {

  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $element-list-padding;
  width: 100%;

}

.list-actions {

  padding-top: $list-padding-top;
  width: 50%;

}

.list-module {

  overflow-x: $div-overflow-x;
  overflow-y: $div-overflow-y;
  padding-top: $list-padding-top;
  width: 100%;

}
