<div class="container">

  <md-toolbar>

    <span i18n>i18n!</span>
    <md-toolbar-row>

      <a routerLink="/actions" routerLinkActive="active">

        <button md-button >

          <span i18n>Actions</span>
          <div class="spacer"></div>
          <md-icon>verified_user</md-icon>

        </button>

      </a>

    </md-toolbar-row>
    <md-toolbar-row>

      <a routerLink="/scenarios" routerLinkActive="active">

        <button md-button>

          <span i18n>Scenario</span>
          <div class="spacer"></div>
          <md-icon>verified_user</md-icon>

        </button>

      </a>

    </md-toolbar-row>

  </md-toolbar>

</div>
