@import "../theme";

/* Color Properties */

$cancel-color: #000000;

$color-theme-primary: mat-color($palette-primary, 600);

$color-theme-primary-core: mat-color($palette-primary, 50);

$color-theme-primary-input: mat-color($palette-primary, 100);

$color-theme-accent: mat-color($palette-accent, 500);

$color-theme-accent-raised-button: mat-color($palette-accent, 600);

$color-theme-accent-raised-button-important: mat-color($palette-accent, 900);

$color-theme-error: mat-color($palette-warning, 800);

$color-theme-warning: mat-color($palette-warning, 300);

$color-success: #6ed76e;

$color-fail: #eb150e;

/* Font Properties */

$text-align-center: center;

$div-text-align: left;

$header-span-link-text-decoration: underline;

$message-important-size: 17px;

$message-important-weight: bold;

/* Layout Properties */

$graph-position: relative;

/* Margin Padding Properties */

$container-button-padding: 0 30px 15px 30px;

$element-list-margin: 0 0 15px 0;

$element-list-padding: 0 0 15px 0;

$form-element-padding: 5px 0 15px 0;

$header-component-padding: 15px 0 15px 0;

$scenario-console-logs-margin: 15px;

$list-padding-top: 10px;

/* Size Properties */

$add-scenario-current-actions-list-width: 200px;

$add-scenario-form-width: 300px;

$add-scenario-module-list-width: 400px;

$input-args-height: 100px;

$input-label-width: 250px;

$header-height: 70px;

$scenario-console-horodatage-width: 100px;

$scenario-console-status-width: 50px;

$scenario-control-panel-button-height: 50px;

$toolbar-width: 200px;

/* Style Properties */

$border-radius-input: 5px;

$border-little-primary: $color-theme-primary solid 1px;

$border-medium-primary: 3px solid $color-theme-primary;

$border-form-error: 5px solid $color-fail;

$border-form-conform: 5px solid $color-success;

$button-line-height: normal;

$button-white-space: normal;

$div-overflow-x: hidden;

$div-overflow-y: auto;

$header-span-link-cursor: pointer;
