<div class="container" *ngIf="!errorMessageGetAllScenarios">

  <div class="list-flex">

    <button md-button class="add-scenario-button" (click)="addScenario()"> Add Scenario </button>
    <md-list *ngIf="!warningMessageNoContentScenario" >

      <md-list-item *ngFor="let scenario of listScenarios">

        <button md-button class="list-scenario-button" (click)="displayScenario(scenario)">{{ scenario.label }}</button>

      </md-list-item>

    </md-list>
    <div class="container-router" *ngIf="warningMessageNoContentScenario"><div class="warning">{{warningMessageNoContentScenario}}</div></div>

  </div>
  <div class="container-router">

    <router-outlet></router-outlet>

  </div>

</div>
<div class="container-router" *ngIf="errorMessageGetAllScenarios"><div class="error">{{errorMessageGetAllScenarios}}</div></div>
