<div class="container">

  <div class="list-flex">

    <button md-button class="add-scenario-button" (click)="addScenario()"> Add Scenario </button>
    <md-list *ngIf="!errorMessageGetAllScenarios">

      <md-list-item *ngFor="let scenario of listScenarios">

        <button md-button class="list-scenario-button" (click)="displayScenario(scenario)">{{ scenario.label }}</button>

      </md-list-item>

    </md-list>

  </div>
  <div class="container-router" *ngIf="!errorMessageGetAllScenarios">

    <router-outlet></router-outlet>

  </div>
  <div class="container-router" *ngIf="errorMessageGetAllScenarios"><div class="error">{{errorMessageGetAllScenarios}}</div></div>

</div>
