@import 'styles/_constant';

html,body {

  height:100%;
  margin:0;
  padding:0;

}

.button-type-1 {

  background-color: $color-theme-accent !important;

}

.button-type-2 {

  background-color: $color-theme-accent-raised-button !important;

}

.button-type-3 {

  background-color: $color-theme-accent-raised-button-important !important;

}

.container {

  display: flex;
  height: 100%;
  width: 100%;

}

.container-router {

  flex: 1;

}

.error {

  background-color: $color-theme-error;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: "Arial Black";
  line-height: 50px;
  text-align: center;
  width: 75%;

}

input {

  border-radius: $border-radius-input;

}

input:focus {

  background-color: $color-theme-primary-input;

}

md-icon {

  color: $color-theme-primary;

}

simple-snack-bar {

  color: $cancel-color !important;
  font-size: $message-important-size !important;
  font-weight: $message-important-weight;

}

snack-bar-container {

  position: absolute;
  top: 0;
  right: 0;

}

snack-bar-container.success {

  background-color: $color-success;

}

snack-bar-container.error {

  background-color: $color-fail;

}

textarea {

  border-radius: $border-radius-input;

}

textarea:focus {

  background-color: $color-theme-primary-input;

}

.warning {

  background-color: $color-theme-warning;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: "Arial Black";
  line-height: 50px;
  text-align: center;
  width: 75%;

}
