<div class="container" *ngIf="!errorMessageGetScenario && !errorMessageScenarioIdIncorrect">

  <div class="principal" *ngIf="scenario">

    <div class="item">

      <button md-button [disabled]="checkInstanceRunning()" (click)="runScenario()"> RUN </button>
      <span [hidden]="checkVisibility()"><button md-button [disabled]="checkConsoleMessage()" (click)="changeVisibility()">console</button></span>
      <span [hidden]="!checkVisibility()"><button md-button (click)="changeVisibility()">description</button></span>
      <button md-button (click)="updateScenario()"> UPDATE </button>

    </div>
    <div class="item">

      <div [hidden]="checkVisibility()" *ngIf="scenario"> {{scenario.description}} </div>
      <div class="console" [hidden]="!checkVisibility()" *ngIf="!errorMessageResponseTasksServiceError">

        <div class="consoleReturn" *ngFor="let log of consoleReturn" >

          <div class="horodatage">{{log.begin_datetime | date: 'dd/MM/yyyy h:mm:ss'}}</div>
          <div class="containerLabelMessage">
            <button md-button class="label" [disabled]="!log.status" (click)="changeVisibilityLogConsole(log)"> {{log.label}} </button>
            <div class="message" [hidden]="!log.visibility" [innerHtml]="getConsoleReturn(log.output)" *ngIf="!errorMessageResponseTasksServiceError"></div>
          </div>
          <div class="status"> {{log.status}}<p *ngIf="!log.status">En Cours</p> </div>
          <div class="horodatage"> {{log.end_datetime | date: 'dd/MM/yyyy h:mm:ss'}}</div>

        </div>

      </div>
      <div class="container-router" *ngIf="errorMessageResponseTasksServiceError"><div class="error">{{errorMessageResponseTasksServiceError}}</div></div>

    </div>

  </div>
  <div id="sigma-graph"></div>

</div>
<div class="container-router" *ngIf="errorMessageGetScenario"><div class="error">{{errorMessageGetScenario}}</div></div>
<div class="container-router" *ngIf="errorMessageScenarioIdIncorrect"><div class="error">{{errorMessageScenarioIdIncorrect}}</div></div>
